// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$color-background-primary: #100e17;

// Responsive breakpoints
$bp-largest: 68.75em; // 1100px
$bp-large: 56.25em; // 900px
$bp-medium: 43.75em; // 700px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px
