// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  background-color: tomato;

  grid-column: full-start / full-end;

  // TEST
  height: 20rem;
}
