.navigation {
  grid-column: full-start / full-end;

  background-color: darken($color: $color-background-primary, $amount: 1%);
  border-bottom: darken($color: $color-background-primary, $amount: 2%);

  &__list {
    list-style: none;
    height: 100%;
    padding: 0 5rem;

    display: flex;
    align-items: center;
  }

  &__item {
    text-align: center;
    display: block;

    &:not(:last-child) {
      margin-right: 3.5rem;
    }
    &:first-child {
      margin-right: auto;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: #fff;
      font-weight: 400;
      text-transform: uppercase;
      color: white;
      outline: none;
      text-decoration: none;
      padding-bottom: 5px;
      border-bottom: 1px solid transparent;

      transition: all 0.3s;
    }

    &:hover,
    &:active {
      background-image: linear-gradient(90deg, #ff8a00, #e52e71);
      -webkit-background-clip: text;
      color: transparent;
      border-bottom: 1px solid #ff8a00;
    }
  }
}
