body {
  font-family: Helvetica, sans-serif;
}

p {
  color: #131313;
}

ul {
  list-style: none;
}

ul>li>a:link, ul>li>a:visited {
  color: #131313;
  text-decoration: none;
}

ul>li>a:hover {
  color: #1e6add;
  text-decoration: underline;
}
