// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-sm {
  margin-bottom: 2rem;
}
.u-margin-bottom-md {
  margin-bottom: 4rem;
}
.u-margin-bottom-lg {
  margin-bottom: 8rem;
}
