/**
 * Basic typography style for copy text
 */

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.7;
  font-weight: 400;
  color: #fff;
}

.heading-primary {
  text-transform: uppercase;
  letter-spacing: 2px;

  @media only screen and (max-width: $bp-medium) {
    letter-spacing: 1.5px;
  }

  & > * {
    display: block;
    color: #fff;
  }

  span:first-child {
    font-weight: 300;
    font-size: 3rem;
    margin-bottom: 1.5rem;

    @media only screen and (max-width: $bp-medium) {
      font-size: 2rem;
    }
  }

  span:last-child {
    font-weight: 600;
    font-size: 5rem;
    letter-spacing: 5px;

    padding-bottom: 1rem;
    border-bottom: 2px solid #fff;

    @media only screen and (max-width: $bp-medium) {
      font-size: 3.5rem;
      font-weight: 400;
      letter-spacing: 1.5px;
      border-bottom: 1px solid #fff;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: 2px;
}

.heading-tertiary {
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-align: center;

  display: block;
  padding-bottom: 3rem;

  &--html {
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
    -webkit-background-clip: text;
    border-bottom: 1px solid #ff4e00;
  }

  &--css {
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    -webkit-background-clip: text;
    border-bottom: 1px solid #045de9;
  }

  &--js {
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
    -webkit-background-clip: text;
    border-bottom: 1px solid #fbb034;
  }

  & > * {
    display: block;
    color: transparent;
  }

  span:first-child {
    font-size: 3rem;
    letter-spacing: 3px;
    margin-bottom: 1rem;
  }

  span:last-child {
    font-size: 1.6rem;
    font-weight: 600;
  }
}
