/**
 * Basic typography style for copy text
 */

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.7;
  font-weight: 400;
  color: #fff;
}

.heading-primary {
  text-transform: uppercase;
  letter-spacing: 2px;

  & > * {
    display: block;
    color: #fff;
  }

  span:first-child {
    font-weight: 300;
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  span:last-child {
    font-weight: 600;
    font-size: 5rem;
    letter-spacing: 5px;

    padding-bottom: 1rem;
    border-bottom: 2px solid #fff;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: 2px;
}
