// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.personal-info {
  grid-column: col-start 7 / full-end;
}

.section-exercises {
  grid-column: center-start / center-end;

  padding: 10rem 0;

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 40rem);
    grid-gap: 10rem;
    justify-content: space-evenly;
  }
}

.section-project {
  grid-column: center-start / center-end;

  // TEST
  height: 30rem;
}
